.form {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 120px;
  margin-left: 600px;
  
}

.form-group {
  margin-bottom: 15px;
  
  
}
.porosia{
  margin-left: 618px;
  padding-top: 5px;
  font-size:larger;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.input{
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonn{
  width: 230px;
  margin-left: 16px;
  margin-top: 2px;
  border-radius: 4px;
  height: 35px;
  background-color: #4682B4;
}

.buttonn:hover{
  background-color: #84a7cc;
}

.buttoni{
  width: 230px;
  margin-left: 16px;
  margin-top: 2px;

}