
.card {
  width: 1200px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-left: 150px;  

  
}

.card .card-details .card-image {
  width: 550px;
  height: 550px;
  border-radius: 5px;
 
}

.card .card-details {
  margin-left: 40px;
  display:flex;
}
  


.card .card-details .card-title {
  font-size: 28px;
  font-weight: bold;
text-align: center;
  
  
}

.card .card-details .card-description {
  margin-top: 5px;
  font-size: 14px;
  margin-left: 10px;
}

.card .card-price,
.card .card-stock,
.card .card-category,
.card .card-created {
  margin-top: 5px;
  font-size: 14px;
  margin-left: 10px;
}


.card-details .btn-a {
  padding: 8px 90px;
 font-size: 14px;
 font-weight: bold;
 text-align: center;
 text-decoration: none;
 border-radius: 5px;
 color: #fff;
 background-color: #505355;
 border: none;
 cursor: pointer;
 margin-right: 4px;
 position:relative;
 top: 300px;
 left: 20px;
}
.btn-a.blue-btn {
  background-color: #4682B4;
  padding: 8px 100px;
  margin-left: 12px;

}
.card .btn-a.blue-btn:hover {
  background-color: #84a7cc;
}




.card .btn-a:hover {
  background-color: #a0abb7;
}

.review-heading {
  color: #4e4d4d;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  margin-left: 150px;
  
}
.vleresim{
  color: #4e4d4d;
  font-size: 20px;
  font-weight: bold;
  margin-left: 150px;
}

.review-form {
  margin-top: 8px;
  margin-left: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 1200px;
  height: 380px;
  padding: 20px;
 
}

.revieww{
  margin-top: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 180px;
  padding: 20px;
  overflow: auto;
  margin-left: 2px;
  
  
}

.vleresimform{
  margin-left: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.revieww .review-comment{
  word-wrap: break-word;
}

.form-group {
  margin-bottom: 10px;
  padding-top: 13px;
  padding-left: 13px;

  
}

.label {
  display: block;
  font-weight: bold;
}

.input,
.textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.review-submit-button{
  display: inline-block;
  padding: 8px 90px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  background-color: #4682B4;
  border: none;
  cursor: pointer;
  margin-left: 450px
}

.review-submit-button:hover {
  background-color: #84a7cc;
}

.kompania {
  font-size: 10px;
  font-style: italic;
  color: #201f1f;
  text-align: left;
  margin-top: 5px;
}





