.table-container {
    margin-bottom: 20px;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    }
  
  
  .button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 100px;
  }
  
  .button:hover {
    background-color: #0269d7;
    color: #fff;
  }