.table-container {
    margin: 20px;
    margin-left: 410px;
  }
  
  .table-container table {
    width: 50%;
    border-collapse: collapse;
  }
  
  .table-container td {
    padding: 8px;
    border: 1px solid #ddd;
    display: block;
  }
  
  .produktet_image {
    width: 100px;
    height: 100px;
  }
  
  .button {
    background-color: blue;
    color: white;
    text-decoration:none;
   
  }
  